<div class="row mt-5">


  <div class="login d-flex flex-column align-items-center">
    <h1>{{'login' | translate}}</h1>

  <form (ngSubmit)="login()" #loginForm="ngForm">
    <label >{{'username' | translate}}</label>

    <div class="form-group">
      <div class="input-container">
        <input  type="text" name="username" placeholder="Username" [(ngModel)]="username" required>

      </div>
    </div>
    <label >{{'password' | translate}}</label>

    <div class="form-group">
      <div class="input-container">
      <input  type="password" name="password" placeholder="Password" [(ngModel)]="password" required>
      </div>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">{{'login' | translate}}</button>
</form>
  </div>
</div>
